*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: sans-serif;
    overflow-x: hidden;
}

.container{
    width: 100vw;
}


.abstract-nav::after{
        display: inline-block;
        height: 25px;
        width: 2px;
        content: "";
        background: #fff;
        border-radius: 25px;
        position: absolute;
        margin-left: 7.5px;
}

header{
    height: 8.8rem;
    width: 100vw;
    background: #000;
    display: flex;
    align-items: center;
}

.cos1 p{
    color: white;
    font-size: 2.4rem;
    line-height: 2.55rem;
    padding: 1rem;
    font-weight: 500;
}

.cos1{
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    margin-left: 12.2rem;
    width: 100%;
}

.logo{
    width: 5,5rem;
    height: 45px;
}

.logo:hover, .abstract-nav:hover {
    opacity: 0.8;
}


.buttons{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 12.2rem;
}

.btn1{
    padding: 0.6rem 2.2rem;
    font-size: 2.4rem;
    line-height: 3.6rem;
    border-radius: 0.8rem;
    cursor: pointer;
    color: #fff;
    background: #191a1b;
    border: white 1px solid;
}


.btn2{
    padding: 0.6rem 3.2rem;
    border-radius: 0.8rem;
    color: white;
    background: #4C5FD5;
    font-size: 2rem;
    line-height: 3rem;
    text-align: start;
    margin-left: 1.6rem;
}

.wraper{
    height: 397px;
    padding-bottom: 11.5rem;
    background: #dadbf1;
    display: flex;
    justify-content: center;
    width: 100%;
}

.what{
    height: 128px;
    width: 100vw;
    background: #fff;
}

.howcan{
    color: #000000;
    font-size: 80px;
    letter-spacing: -4px;
    line-height: 76ox;
    font-weight: 400;
    margin: 0 0 1rem;
    text-align: center;
    min-height: 100%;
    margin-top: 8rem;
}


.input2{
    display: block;
    width: 72rem;
    height: 6.6rem;
    padding: 0.5em 1em;
    font-size: 20px;
    font-family: "GT America Standard", sans-serif;
    font-weight: 400;
    line-height: 28px;
    color: #000000;
    background-color: #fff;
    background-image: url(strzała.svg);
    background-repeat:no-repeat;
    background-position: right 2% bottom 45%;
    padding-right: 2rem;
    background-size: 3rem;
    border: 1px solid #000;
    border-radius: 4px;
    margin-top: 2rem;
}

.itemy{
    width: 100vw    ;
    height: 842px;
    background-color: #fff;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 0 200px;
}

.img{
    float: left;
    padding-right: 20px;
    margin-top: 5px; 
    height: 100px;  
}



.wtf{
    height: 90px;
    width: 90px;
}

.ptag h4{
    font-size: 24px;
    line-break: normal;
    color: #191a1b;
    font-weight: 700;
}

.ptag p{
    margin-top: 15px;
    font-size: 24px;
    color: #191a1b;
    white-space: nowrap;
    margin-bottom: 20px;
    line-height: 32px;
}

.ptag a{
    font-size: 20px;
    margin-left: 112px;
    color: #4C5FD5;
    text-decoration: none;
}

.abstact3{
    padding-left: 150px;
}

.second{
    width: 100vw;
    height: auto;
    background-color: #fff;
    margin-top: -50px;
    display: flex;
    justify-content: flex-start;
    white-space: none;

}

.abstact4{
    display: flex;
}

.abstact4 a{
    margin-left: -1px;
}



.abstact5{
    display: flex;
    padding-left: 65px;
    white-space: nowrap;
}

.abstact5 a{
   margin-left: -1px;
}

.mlekowrap{
    width: 100vw;
}

.mleko{
    display: flex;
}

.abstact7{
    margin-left: 200px;
    white-space: nowrap;
}

.abstact7 a{
    margin-left: -1px;
}


footer{
    height: 402px;
    background-color: black;
    display: flex;
}


.pierwszy{
    color: white;
    margin-left: 122px;
    padding-top: 50px;
}

.pierwszy h5{
    font-size: 24px;
    line-height: 28px;
    padding-bottom: 16px;
}

.pierwszy ul{
    list-style: none;
}

.pierwszy ul li{
    font-size: 16px;
    font-weight: 500;
    padding: 3px 0;
    cursor: pointer;
}

.recor{
    color: white;
    margin-left: 240px;
    padding-top: 55px;
}

.recor h5{
    font-size: 24px;
    line-height: 28px;
    padding-bottom: 16px
}

.recor ul{
    list-style: none;
}

.recor ul li{
    font-size: 16px;
    font-weight: 500;
    padding: 3px 0;
    cursor: pointer;
}

.community{
    color: white;
    margin-left: 240px;
    padding-top: 55px;
}

.community h5{
    font-size: 24px;
    line-height: 28px;
    padding-bottom: 16px
}

.community ul{
    list-style: none;
}


.community ul li{
    font-size: 16px;
    font-weight: 500;
    padding: 3px 0;
    cursor: pointer;
}


.company{
    color: white;
    margin-left: 240px;
    padding-top: 55px;
}

.company h5{
    font-size: 24px;
    line-height: 28px;
    padding-bottom: 16px
}



.company ul li{
    font-size: 16px;
    font-weight: 500;
    padding: 3px 0;
    cursor: pointer;
    list-style: none;
}


.company ul li:last-child{
    padding-bottom: 41px;
}


.contactus{
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 5px;
}

.contactus1{
    font-size: 16px;
    line-height: 24px;
}


.prog{
    color: white;
    margin-top: 202px;
    margin-left: 260px;
}

.prog p{
    font-size: 20px;
    padding-top: 5px;
}


.prog img{
    margin-left: -15px;
    margin-bottom: 15px;
}

.help{
    margin: 50px;
    height: 35px;
    width: 100px;
    background: #4c5fd5;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: 600;
    border-radius: 25px;
    position: fixed;
    left: 90%;
    top: 90%;
}



